@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro-Regular.eot");
  src: url("../fonts/Intro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Intro-Regular.woff") format("woff"),
  url("../fonts/Intro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro-Book.eot");
  src: url("../fonts/Intro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Intro-Book.woff") format("woff"),
  url("../fonts/Intro-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro-Bold.eot");
  src: url("../fonts/Intro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Intro-Bold.woff") format("woff"),
  url("../fonts/Intro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
