$media-large: 1199px;
$media-medium: 991px;
$media-small: 767px;
$media-extra-small: 575px;

$bp-1440: 1599px;
$bp-1360: 1439px;
$bp-1280: 1365px;
$bp-1200: 1279px;
$bp-1024: 1199px;
$bp-992:  1023px;
$bp-800:  991px;
$bp-768:  799px;
$bp-640:  767px;
$bp-576:  639px;
$bp-480:  575px;
$bp-375:  479px;
$bp-360:  374px;
$bp-320:  359px;