$color-white: #FFF;
$color-text-dark: #2A2626;
$color-active: #BE3D3D;
$color-active-hover: #B21F1F;
$color-gray: #F3F5F8;
$font-family-base: "Intro", sans-serif;

$h1-text: 700 5.2rem/5.7rem $font-family-base;

$h3-text: 700 4.2rem/5.3rem $font-family-base;




