.certificates {
  --title-fs: 2rem;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1023px) {
    --title-fs: 1.8rem;
  }

  &__title {
    margin-bottom: 2.2rem;

    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-size: var(--title-fs);
    font-weight: 700;
    line-height: 1.5;
  }

  &__container {
    display: flex;
  }

  &__link {
    display: block;

    margin-right: 1.3rem;
    width: 14.9rem;
    height: 21.4rem;

    background-color: #F3F5F8;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
      opacity: 0.8;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link-image {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}