.certificates-page {

  &__desc {
    box-sizing: border-box;
    margin-bottom: 8.8rem;

    @media screen and (max-width: 1023px) {
      margin-bottom: 6rem;
    }
  
    @media screen and (max-width: 767px) {
      margin-bottom: 4rem;
      padding-right: 4rem;
    }
  }

  &__desc-paragraph {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 400;

    @media screen and (max-width: 1023px) {
      font-size: 2rem;
      line-height: 1.2;
    }
  
    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
      line-height: 1.2;
    }
  }
}