.contacts {
  --fs-main: 1.7rem;
  --labels-fs: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.9rem;
  row-gap: 2.7rem;

  padding: 3.8rem;
  background-color: #F3F5F8;
  margin-bottom: 0.7rem;
  width: 100%;

  @media screen and (max-width: 1023px) {
    --fs-main: 1.4rem;
    --labels-fs: 0.8rem;

    padding: 2rem;
  }

  @media screen and (max-width: 459px) {
    grid-template-columns: 1fr;
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__contact-name {
    margin-bottom: 1.8rem;

    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-size: var(--labels-fs);
    font-weight: 400;
    line-height: 1;

    color: #333333;
    opacity: 0.45;
  }

  &__contact-link {
    margin-bottom: 1.4rem;

    font-family: "Intro", sans-serif;
    font-size: var(--fs-main);
    font-weight: 700;
    line-height: 1;

    color: #2A2626;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
      opacity: 0.8;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__docs {
    display: flex;
    flex-direction: column;

    margin-bottom: 4.4rem;

    @media screen and (max-width: 1023px) {
      margin-bottom: 3.5rem;
    }
  }

  &__doc-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 1.2rem 4.5rem 1.2rem 3.6rem;
    margin-bottom: 0.7rem;
    width: 100%;

    background-color: #F3F5F8;

    transition: opacity 0.3s ease;
    font-size: 1rem;

    @media screen and (max-width: 1023px) {
      padding: 1.2rem 2rem 1.2rem 2rem;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
      opacity: 0.8;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__doc-link-text {
    margin-right: 2rem;
    max-width: 25rem;

    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-size: var(--fs-main);
    font-weight: 400;
    line-height: 1.2;
  }

  &__doc-size {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 3.4rem;
  }

  &__doc-link-icon {
    margin-bottom: 1rem;
    width: 2.4rem;
    height: 2.6rem;
  }

  &__doc-size-label {
    text-align: center;
    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-size: var(--labels-fs);
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.4;
  }
}