.contacts {
  --fs-main: 17px;
  --labels-fs: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 39px;
  row-gap: 27px;

  padding: 38px;
  background-color: #F3F5F8;
  margin-bottom: 7px;
  width: 100%;

  @media screen and (max-width: 1023px) {
    --fs-main: 14px;
    --labels-fs: 8px;

    padding: 20px;
  }

  @media screen and (max-width: 459px) {
    grid-template-columns: 1fr;
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__contact-name {
    margin-bottom: 18px;

    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-size: var(--labels-fs);
    font-weight: 400;
    line-height: 1;

    color: #333333;
    opacity: 0.45;
  }

  &__contact-link {
    margin-bottom: 14px;

    font-family: "Intro", sans-serif;
    font-size: var(--fs-main);
    font-weight: 700;
    line-height: 1;

    color: #2A2626;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
      opacity: 0.8;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__docs {
    display: flex;
    flex-direction: column;

    margin-bottom: 44px;

    @media screen and (max-width: 1023px) {
      margin-bottom: 35px;
    }
  }

  &__doc-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 12px 45px 12px 36px;
    margin-bottom: 7px;
    width: 100%;

    background-color: #F3F5F8;

    transition: opacity 0.3s ease;
    font-size: 10px;

    @media screen and (max-width: 1023px) {
      padding: 12px 20px 12px 20px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
      opacity: 0.8;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__doc-link-text {
    margin-right: 20px;
    max-width: 250px;

    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-size: var(--fs-main);
    font-weight: 400;
    line-height: 1.2;
  }

  &__doc-size {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 34px;
  }

  &__doc-link-icon {
    margin-bottom: 10px;
    width: 24px;
    height: 26px;
  }

  &__doc-size-label {
    text-align: center;
    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-size: var(--labels-fs);
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.4;
  }
}