.history {
  box-sizing: border-box;
  padding: 9rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 14rem;
  margin-bottom: 22rem;

  @media screen and (max-width: 1279px) {
    margin-top: 7rem;
    margin-bottom: 12rem;
    padding: 6rem;
  }

  @media screen and (max-width: 767px) {
    margin-top: 5rem;
    margin-bottom: 6rem;
    padding: 4rem;
  }

  &__card {
    padding-bottom: 6.7rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 7.1rem;

    @media screen and (max-width: 767px) {
      padding-bottom: 4rem;
      margin-bottom: 4rem;
    }

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__card-container {
    display: flex;
    flex-direction: column;

    max-width: 80rem;
  }

  &__card-year {
    margin-bottom: 2.6rem;

    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
    color: #BE3D3D;

    @media screen and (max-width: 599px) {
      font-size: 2.2rem;
      line-height: 1.1;
    }
  }

  &__card-name {
    margin-bottom: 4.5rem;

    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;

    @media screen and (max-width: 599px) {
      font-size: 1.5rem;
      line-height: 1.1;

      margin-bottom: 3.5rem;
    }
  }

  &__card-paragraph-container {
    display: flex;
    flex-direction: column;

    margin-bottom: 5.1rem;

    &_last {
      margin-bottom: 0;
    }
  }

  &__card-paragraph {
    margin-bottom: 2rem;

    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;

    @media screen and (max-width: 1279px) {
      font-size: 1.6rem;
      line-height: 1.1;
    }

    @media screen and (max-width: 599px) {
      font-size: 1.4rem;
      line-height: 1.1;

      margin-bottom: 1.5rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__card-list-title {
    margin-bottom: 3.7rem;

    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;

    @media screen and (max-width: 599px) {
      font-size: 1.5rem;
      line-height: 1.1;

      margin-bottom: 2rem;
    }
  }

  &__card-list-item {
    position: relative;

    box-sizing: border-box;
    margin-bottom: 3.5rem;
    padding-left: 4rem;

    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;

    @media screen and (max-width: 599px) {
      font-size: 1.4rem;
      line-height: 1.1;

      margin-bottom: 2rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 10px;
      left: 0;

      content: '';
      width: 1.6rem;
      height: 2px;
  
      background-color: #BE3D3D;

      @media screen and (max-width: 599px) {
        top: 7px;
      }
    }
  }
}