.licenses {
  margin-bottom: 21rem;

  @media screen and (max-width: 1023px) {
    margin-bottom: 10rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.8rem;
    row-gap: 5rem;

    margin: 0;
    padding: 0;

    list-style: none;

    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 479px) {
      grid-template-columns: 1fr;
    }
  }
}