@import "_fonts.scss";
@import "_reset.scss";
@import "_variables.scss";

html, body {
  font-size: 10px;
  font-family: $font-family-base;
  color: $color-text-dark;
}
.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  min-width: 100%;
}
.main-body {
  width: 100%;
  display: block;
  flex: 1 1 auto;
}
.main-edge {
  width: 100%;
  flex: 0 0 auto;
}
.container {
  width: 100%;
  max-width: 1680px;
  padding: 0  4rem;
  margin:0 auto;
}

@media (max-width: 1640px) {
  .container { padding: 0 2rem;}
}

.text-h1 {
  font: $h1-text;
  text-transform: uppercase;
}
.text-h3 {
  font: $h3-text;
  text-transform: uppercase;
}


.block-1-wrap {
  width: 100%;
  background: url(../../images/dist/main-slide-1.jpg) no-repeat 50% 50%/ cover;
  position: relative;
}

.btn-user {
  display: inline-block;
  vertical-align: middle;
  border-radius: 300px;
  padding: 0 3.6rem;
  font-size: 0;
  font-weight: normal;
  line-height: 6rem;
  cursor: pointer;
  transition: all .15s ease;
  text-align: center;
  overflow: hidden;
  position: relative;

  .btn-inner {
    display: inline-block;
    vertical-align: middle;
    font: 500 1.2rem/1 $font-family-base;
    text-transform: uppercase;
    position: relative;
    z-index: 4;
    transition: all .2s ease;
  }
}

.btn-user:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  transition: all .4s ease;
  background: transparent;
  transform: translateY(100%) translateX(-25%);
}

.btn-user:hover {
  &:after {
    transform: translateY(-25%) translateX(-25%);
  }
}

.btn-start-icon .btn-inner {
  padding-left: 1.7rem;
  position: relative;

  & .icon {display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  & .icon img,
  & .icon svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
  }
  & .icon svg * {
    transition: all .3s ease;
    stroke:$color-text-dark;
    fill: transparent;
  }
}

.btn-start-icon.btn-outline-dark:hover .btn-inner {
  & .icon svg * {
    stroke:#FFF;
    fill: transparent;
  }
}

.btn-user-middle {
  line-height: 4.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.btn-fill-accent {
  background: $color-active;
  color: $color-white;
  &:after {
    background: $color-active-hover;
  }
}

.btn-fill-blur {
  background: rgba(255,255,255,.3);
  color: $color-white;
  &:after {
    background: #FFF;
  }
  &:hover {
    & .btn-inner {
      color: $color-text-dark;
    }
  }
}

.btn-fill-blur.btn-start-icon {
  .btn-inner .icon svg * {
    transition: all .2s linear;
    fill: #FFF;
    stroke: #FFF;
  }
  &:hover {
    .btn-inner .icon svg * {
      transition: all .2s linear;
      fill: $color-text-dark;
      stroke: $color-text-dark;
    }
  }
}

.btn-fill-white {
  background-color: $color-white;
  & .btn-inner {
    color: $color-text-dark
  }

  &:hover {
    & .btn-inner {
      color: $color-white
    }
    &:after {
      background-color: $color-active;
    }
  }
}


.btn-user-outline {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30rem;
    z-index: 2;
    pointer-events: none;
    box-sizing: border-box;
    border: 0.1rem solid transparent;
    transition: all .15s ease;
  }
}

.btn-outline-dark {
  &:before {
    border-color: rgba(0, 0, 0,.2);
  }
  .btn-inner {
    color: $color-text-dark;
  }

  &:hover {
    &:before {
      border-color: $color-active;
    }
    .btn-inner {
      color: $color-white;
    }

    &:after {
      background: $color-active;
    }

  }
}

.btn-outline-white {
  &:before {
    border-color: rgba(255,255,255,.2);
  }
  .btn-inner {
    color: $color-white;
  }

  &:hover {
    &:before {
      border-color: $color-active;
    }
    .btn-inner {
      color: $color-white;
    }

    &:after {
      background: $color-active;
    }

  }
}

.btn-user-outline-light-gray {
  &:before {
    border-color: rgba(0,0,0, .2)
  }
}

.btn-play-text {
  padding: 1.5rem 2.4rem;
  background: #FFF;
  border-radius: 300px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  transition: all .3s ease;
  position: relative;
  cursor: pointer;
  transform: scale(1, 1);

  .btn-play-text-icon {
    width: 2rem;
    height: 2rem;
    position: relative;
    margin-right: 1.2rem;
    background: $color-active;
    & svg * {
      fill: #FFF;
      stroke: transparent;
    }
  }
  .btn-play-text-content {
    font:500 1.2rem/1 $font-family-base;
    color: $color-text-dark;
    text-transform: uppercase;
  }

}


.header-block {
  width: 100%;
  position: relative;
  z-index: 20;
  display: block;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  color: $color-white;
  padding: 2.2rem 0;
}

.header-logo {
  display: block;
  flex: 0 0 auto;
  width: 10.6rem;
  & .logo {
    display: block; width: 100%;
    & img {display: block; width: 100%;}
  }
}

.header-menu {
  flex: 1 1 auto;
  margin-left: 9.4rem;
}
.menu {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  display: flex;
}
.menu-item {
  flex: 0 0 auto;
  margin-left: 1.8rem;
  &:first-child {margin-left: 0;}
  & a {
    font: 500 1.2rem/1.2rem $font-family-base;
    text-transform: uppercase;
    transition: all .2s linear;
    color: $color-white;
    letter-spacing: 0.04em;
  }

  & a:hover {
    color: $color-active;
  }

}

@media (max-width: 1680px) {
  .header-menu {margin-left: 5rem;}
}

@media (max-width: 1400px) {
  .header-menu {margin-left: 4rem;}
}

.header-search {
  margin-left: 3rem;
  flex: 0 0 auto;
}

@media (max-width: 1400px) {
  margin-left: 2rem;
}
.search-btn {
  width: 3rem;
  height: 3rem;
  position: relative;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all .4s ease;
  &:hover {
    background: #FFF;
  }
  & img,
  & svg {display: block;
    height: auto;
    width: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all .4s linear;
  }
  & svg * {
    fill: #FFF;
  }
  &:hover svg * {
    fill: $color-text-dark;
  }
}

.header-phone {
  flex: 0 0 auto;
  margin-left: 1.2rem;
}
.phone-unit {
  display: table;
  cursor: pointer;
  position: relative;
  padding: .6rem 1.2rem .6rem 3.2rem;
  border-radius: 300px;
  background: transparent;
  transition: all .2s ease;
  &:hover {
    background: #FFF;
  }
}

.phone-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  transition: all .2s linear;
  & > img,
  & > svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0 0;
  }
  & > svg * {
    stroke: $color-white;
    fill: transparent;
    transition: all .2s linear;
  }
}

.phone-label {
  font:500 1.2rem/2rem $font-family-base;
  color: $color-white;
  transition: all .15s linear;
  position: relative;
  z-index: 2;
}


.phone-unit {
  &:hover {
    .phone-label  {
      color: $color-active;
    }
    .phone-icon svg * {
      fill: transparent;
      stroke: $color-active;
    }
  }
}

.header-control {margin-left: 1.8rem;}


.header-btn-menu {
  flex: 0 0 auto;
  margin-left: 1rem;
}

.btn-menu {
  display: block;
  border-radius: 50%;
  border: .1rem solid  rgba(255,255,255,.2);
  position: relative;
  cursor: pointer;
  width: 4.6rem;
  height: 4.6rem;
  transition: all .2s ease;
  background: transparent;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 44%;
    height: .2rem;
    left: 28%;
    background: #FFF;
    transition: all .2s ease;
    transform: translateX(0);
  }
  &:before {
    top: 1.9rem;
  }
  &:after {
    top: 2.5rem;
  }

  &:hover {
    background: $color-white;
    border-color: $color-white;
    &:before {
     transform: translateX(8%);
      background: $color-text-dark;
    }
    &:after {
      transform: translateX(-8%);
      background: $color-text-dark;
    }
  }

}



.main-slide-btn-wrap {
  width: 100%;
  & .btn {min-width: 17.8rem}
}
.main-slide-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: -1rem;
}
.main-slide-btn-item {
  flex: 0 0 auto;
  padding: 1rem;
  max-width: 100%;
}

.main-slide-content-text {
  font:500 2.2rem/2.8rem $font-family-base;
  margin-bottom: 3.8rem;
  padding-top: 4rem;

}

.main-slider-wrap-outer {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.main-slider-wrap {
  padding-left: 238px;
  padding-top: 16rem;
  position: absolute; top: 0; left: 0;
  height: 100%;
  z-index: 5;
}

.main-slide {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  color: $color-white;
}

.main-slide-text {
  flex: 0 0 auto;
  width: 60rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.main-slide-text-inner {
  flex: 0 0 auto;
  max-width: 100%;
  padding-right: 8rem;
}

.main-slide-top-text,
.main-slide-bottom-text {
  color: $color-white;
  text-transform: uppercase;
}

.main-slide-top-text {
  text-align: left;
  margin-bottom: 1.1rem;
  font:500 1rem/3rem $font-family-base;
}
.main-slide-bottom-text {
  text-align: right;
  font:500 1.2rem/1.5rem $font-family-base;
  margin-right: -8rem;
}

.slider-controls-wrap  {
  border-radius: 300px;
  width: 7.8rem;
  position: relative;
  height: 4.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border: .1rem solid transparent;
  background: rgba(255, 255, 255, 0.08);
  justify-content: center;
  transition: all .2s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}

.slider-control {
  height: 100%;
  width: 50%;
  cursor: pointer;
  position: relative;
  &.slider-control-prev {
    border-top-left-radius: 30rem;
    border-bottom-left-radius: 30rem;
  }
  &.slider-control-next {
    border-top-right-radius: 30rem;
    border-bottom-right-radius: 30rem;
  }


  & img,
  & svg {display: block;
    width: .9rem;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  & svg * {
    fill: transparent;
    stroke: #FFF;
    transition: all .2s ease;
  }
  &:hover svg *  {
    fill: transparent;
    stroke: $color-text-dark;
  }

  &.dark svg * {
    fill: transparent;
    stroke: $color-text-dark;
  }

}



.slider-simple-counter {
  flex:0 0 auto;
  font:1.5rem/1.8rem $font-family-base;
  color: rgba(42,38,38, .25);


  & > b {
    font-weight: normal;
    color: rgba(42,38,38, 1);
  }

}



.main-slider-wrap .slider-controls-wrap  {
  position: absolute;
  top: 21rem; left: 4rem;
}

.slider-count-pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
  color: $color-white;
  position: absolute;
  bottom: 3.2rem;
  left: 23.8rem;
}
.slider-current-page {
  font:700 2.5rem/2.5rem $font-family-base;
  color: $color-white;
}
.slider-all-page {
  font:500 1.5rem/2.5rem $font-family-base;
}

.slider-divider-page {
  margin: 0 .3rem;
  flex: 0 0 auto;
  font-size: 1.9rem;
  z-index: 0;
}

.main-slider-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-slider-images-item {
  width: 100%;
  height: 100%;
  transition: all .3s linear;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  &.slide-active {
    opacity: 1;
    visibility: visible;
  }
}








.main-soc-container {
  position: absolute;
  bottom: 2.25rem;
  left: 0; right: 0; margin: auto;
  pointer-events: none;
  & .main-soc-item {pointer-events: auto;}
}
.main-soc-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.main-soc-item {
  flex: 0 0 auto;
  &:nth-child(n+2) {margin-left: 1rem;}
  transform: translateX(.5rem);
  position: relative;
  z-index: 10;
}

.soc-unit {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  transition: all .2s linear;
  background: transparent;
  &:hover {
    background: $color-white;
  }

}
.soc-unit img,
.soc-unit svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.soc-unit svg * {
  fill: #FFF;
  stroke: none;
}
.soc-unit:hover {
  svg * {
    fill: $color-active;
    stroke: none;
  }
}




.enterprise-block {
  margin-top: 8.2rem;
}

.enterprise {
  padding: 8.2rem 8.5rem;
  background: #F7F9FC;
}

.accordion-box {
  width: 100%;
}
.accordion-section {
  width: 100%;
  &:nth-child(n+2) {margin-top: 9rem;}
}
.accordion-section-head {
  padding-bottom: 1.1rem;
  border-bottom: .2rem solid #000;
  position: relative;
  cursor: pointer;
}
.accordion-section-body {
  padding-top: 8.8rem;
  display: none;
}

.enterprise-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.enterprise-cover {
  flex: 1 1 auto;
  & img {
    display: block;
    width: 100%;
    height: auto;
  }
  margin-right: 4.4rem;
}

.enterprise-side {
  flex: 0 0 auto;
  width: 51.4rem;
}
.enterprise-nav-list {
  width: 100%;
}
.enterprise-nav-item {
  position: relative;
  padding: 3.6rem 2.4rem 3.6rem 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  &:first-child {margin-top: -3.6rem;}
  cursor: pointer;
}
.enterprise-nav-item-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  cursor: pointer;
}
.enterprise-nav-title {
  font:700 2rem/2rem $font-family-base;
  color: $color-text-dark;
  text-transform: uppercase;
  transition: all .3s linear;
  .enterprise-nav-item:hover & {
    color: $color-active;
  }
}
.enterprise-nav-desc {
  font:400 1.7rem/1.7rem $font-family-base;
  color: $color-text-dark;
  &:nth-child(n+2) {margin-top: 2rem;}
}
.enterprise-nav-icon {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 4rem;
  right: 0;
  & img,
  & svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    top: 0;
    left: 0;
    position: absolute;
    & * {
      transition: all .3s linear;
      fill: transparent;
      stroke: rgba(0,0,0,.88);

    }
  }
}

.enterprise-nav-item:hover .enterprise-nav-icon svg * {
  fill: $color-active;
  stroke: $color-active;
}

.accordion-control {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: .8rem;
  right: .4rem;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    transition: all .15s linear;

  }
  &:before {
    top: 50%;
    left: 0;
    width: 100%;
    height: .2rem;
    transform: translateY(-50%);
  }
  &:after {
    top: 0;
    left: 50%;
    height: 100%;
    width: .2rem;
    transform: translateX(-50%);
  }
}


.accordion-control:after {
  transition: all .15s linear;
}

.accordion-section-active {
  .accordion-control:after {
    transform: translateX(-50%) rotate(90deg);
  }
}

.accordion-section-head:hover {
  .accordion-control:before,
  .accordion-control:after {
    background: rgba(0, 0, 0, 1);
  }
}


.tech-block {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.tech {padding-left: 20rem;}
.tech .dash-title {
  margin-left: -20rem;
}
.dash-title-wrap {
  padding-left: 20rem;
  .dash-title {
    margin-left: -20rem;
  }
}
.dash-title  {
  padding-left: 20rem;
  position: relative;
  &:before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 13.6rem;
    height: .1rem;
    background: rgba(0,0,0, .2);
    top: 2.2rem;
    left: 0;
    position: absolute;
  }
}

.tech-title  {
  margin-bottom: 77px;
}

.tech-sections {width: 100%; position: relative;}
.tech-section {
  display: block;
}
.tech-section-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 3.7rem 0;
  border-bottom: .1rem solid rgba(0,0,0, .15);
  width: 40rem;

  transition: border-bottom-color .3s linear;

  cursor: pointer;
  user-select: none;
}
.tech-section-head-icon {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  position: relative;

  & img,
  & svg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: auto;
    height: auto;
  }

  & svg * {
    transition: all .3s linear;
    fill: transparent;
    stroke: $color-text-dark;
  }
}

.tech-section-head-title {
  font: 700 2.2rem/2.8rem $font-family-base;
  color:$color-text-dark;
  transition: all .3s linear;
  margin-left: 3.8rem;
}

.tech-slider-tab-active  {
  .tech-section-head-icon svg * {
    fill: transparent;
    stroke: $color-active;
  }

  .tech-section-head {border-bottom-color:$color-active; }
  .tech-section-head-title {
    color: $color-active;
  }
}




.tech-section-body {
  display: none;
  //position: absolute;
  //width: calc( 100% - 8.2rem - 40rem - 3.8rem);
  //right: 0;
  //top: 0;
}

.tech-section-cover {
  position: relative;
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.tech-section-content {
  &:nth-child(n+2) {
    margin-top: 5.4rem;
  }

  & p {
    font:400 2.2rem/2.8rem $font-family-base;
  }

  & .tech-section-title {
    font:700 2.5rem/2.8rem $font-family-base;
    margin-bottom: 2rem;
  }
}


.tech-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.tech-slider-side {
  width: 59.8rem;
  flex: 0 0 auto;
  padding-right: 5rem;
}

.tech-slider-media {flex: 1 1 auto;}

.tech-slider-media {
  position: relative;
}
.tech-slider-media-cover {
  width: 100%;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 0;
    padding-top: 62.5%;
    box-sizing: border-box;
  }
}

.tech-section-cover-frame {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;

  img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: 50% 50%;
  }
}


.tech-section-title {
  overflow: hidden;
  font:700 2.5rem/2.8rem $font-family-base;
  margin-bottom: 2rem;
}

.tech-section-description-content {
  overflow: hidden;
  font:400 2.2rem/2.8rem $font-family-base;
}

.tech-section-cover-frame-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.tech-slider-media {
  .tech-section-title,
  .tech-section-description {
    overflow: hidden;
    position: relative;
  }
}

.tech-section-cover-frame {
  width: 100%;
  transition: all .3s linear;
}
.tech-section-cover-frame.new {
  width: 0;
}

.tech-slider.tech-animated {
  .tech-section-cover-frame.new {
    transition: width 0.8s ease 0s;
    width: 100%;
  }
}


.tech-section-description-content:not(.new),
.tech-section-title-content:not(.new) {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.tech-section-description-content.new, .tech-section-title-content.new  {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
}


.tech-slider.tech-animated-start {

  .tech-section-description-content:not(.new),
  .tech-section-title-content:not(.new) {
    transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s,  transform 0.4s ease 0s ;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }

}

.tech-slider.tech-animated-end {
  .tech-section-description-content:not(.new),
  .tech-section-title-content:not(.new) { display: none;}

  .tech-section-title-content.new,
  .tech-section-description-content.new {
    position: static;
    transition: opacity 0.4s ease .4s, visibility 0.4s ease .4s,  transform 0.4s ease .4s ;

    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

}


.stages-block {
  padding-bottom: 9rem;
}

.stage-project-wrap {
  width: 100%; overflow: hidden;
  &:nth-child(n+2) {
    margin-top: 3.6rem;
  }
}

.stage-project-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0 -2.8rem;
}

.stage-project-item {
  width: 25%;
  padding: 0 2.8rem;
}


.stage-project-cover {
  width: 100%;
  padding-top: 46.753%;
  position: relative;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.stage-project-desc {
  width: 100%;
  color: $color-active;
  font: 400 1.2rem/1.3 $font-family-base;
  text-transform: uppercase;
  &:nth-child(n+2) {margin-top: 2rem;}
}


.stage-project-text {
  font: 400 2rem/1.3 $font-family-base;
  &:nth-child(n+2) {margin-top:  4rem;}
}


.stage-project-title {
  font: 700 2.2rem/1.2 $font-family-base;
  text-transform: uppercase;
  height: 7.5rem;
  margin-bottom: 1rem;
}

.play-icon {
  width: 4.5rem;
  border-radius: 50%;
  background: #FFF;
  position: absolute;
  & img,
  & svg {
    display: block;
    width: 27%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-45%);
  }
  & svg * {
    stroke: transparent;
    fill: $color-active;
  }
}

.play-icon:before {
  content: "";
  padding-top: 100%;
  display: block;
  width: 0;
}


.stage-project-cover .play-icon {
  position: absolute;
  bottom: 9.72%;
  left: 6.5%;
  width: 14.61%;
}

.stage-line-wrap {
  overflow: hidden;
  width: 100%;
  padding-bottom: 1rem;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: .1rem;
    background: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    position: absolute;
    bottom: .4rem;
    left: 0;
  }
}
.stage-line-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 -2.8rem;
}

.stage-line-item {
  width: 25%;
  flex: 0 0 auto;
  padding: 0 2.8rem;
  position: relative;
  height: 5.2rem;
  z-index: 2;
  &:before {
    content: "";
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    bottom: -1rem;
    position: absolute;
    left: 2.8rem;
    background: $color-active;
    box-sizing: border-box;

  }
}
.stages-line-icon {
  width: 4rem;
  height: 4rem;
  position: relative;
  & img,
  & svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }
  & svg * {
    fill: transparent;
    stroke: $color-text-dark;
  }
}

.stages .dash-title {
  margin-bottom: 8.6rem;
}


.company-page-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.about-company {
  flex: 1 1 auto;
  max-width: 112.8rem;
  padding: 6rem 7.5rem;
  background: #F3F5F8;
}

.about-company-title {
  margin-bottom: 3rem;
}

.about-company-cover {
  width: 100%;
  position: relative;
  margin-bottom: 6rem;
  &:before {
    content: "";
    width: 0;
    box-sizing: border-box;
    padding-top: 43.375%;
    display: block;
  }
  & > img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.about-company-cover .btn-play-text {
  position: absolute;
  z-index: 5;
  bottom: 3rem;
  left: 2.5rem;

  transform: scale(1,1);

  &:hover {
    transform: scale(.95, .95);

  }

}

.company-text-content {
  padding-left: 11.6rem;
}
.company-desc-text {
  width: 100%;
  font: 400 2rem/2.6rem $font-family-base;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 5rem;
    height: .1rem;
    position: absolute;
    top: 1.2rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.company-numbers-box {
  margin-top: 7rem;
}

.company-numbers-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.6rem 0;
  border-top:1px solid rgba(0,0,0, .2);
}

.company-number-text {
  font:400 1.5rem/1.2 $font-family-base;
  margin-bottom: .5rem;
}
.company-number-value {
  font: 700 5.3rem/1 $font-family-base;
  width: 30rem;
  & span {font-size: 2.3rem; display: inline;}

}

.company-number-content {
  font:500 1.5rem/2rem $font-family-base;
  flex: 1 1 auto;
}

.company-side {
  width: 45.2rem;
  flex: 0 0 auto;
  margin-left: 4rem;
}

.company-side-item:nth-child(n+2) {
  margin-top: 1.8rem;
}

.company-side-block {
  background: #F3F5F8;
  padding: 3.4rem 4rem 3.6rem;
}

.company-side-block-cover {
  width: 100%;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 0;
    padding-top: 60%;
    box-sizing: border-box;
  }
  & > img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
  }
}

.company-side-block-desc:nth-child(n+2) {
  margin-top: 2.8rem;
  font:400 1.5rem/2rem $font-family-base;
}

.company-side-block-cellar {
  &:nth-child(n+2) {
    margin-top: 4.4rem;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}


.company-side-slider-controls-wrap {
  position: relative;
  flex: 0 0 auto;
  border:  .1rem solid rgba(0,0,0, .2);
  width: 84px;
}

.company-side-block-cover .play-icon {
  width: 4.5rem;
  position: absolute;
  bottom: 1.6rem;
  left: 2.2rem;
  z-index: 5;

}

.company-side-title {
  font: 700 2.2rem/1.2 $font-family-base;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.company-side-history-block {
  width: 100%;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 0;
    padding-top: 65%;
  }

  & > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  & .btn {
    z-index: 5;
    position: absolute;
    bottom: 3rem;
    left: 3.8rem;
  }
}


.press-center-block {
  padding-top: 11.8rem;
}
.title-control-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.press-center-head {
  margin-bottom: 8.3rem;
}


.press-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.press-previews {
  flex: 1 1 auto;
  overflow: hidden;
}

.press-previews-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: -1rem;
}

.press-previews-item {
  padding: 1rem;
}

.press-preview {
  position: relative;
  width: 100%;
  &:before {
    content: "";
    display: block;
    width: 0;
    padding-top: 104.46%;
  }

  .press-previews-item-100 &:before {
    padding-top: 38.94%;
  }
}

.press-preview-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 0;
}
.press-previews-item {width: 33.333%; flex: 0 0 auto;}
.press-previews-item-100 {
  width: 100%;
}

.press-tag {
  background: #FFF;
  border-radius: 30rem;
  padding: 1.1rem 1.8rem;
  text-align: center;
  color: $color-text-dark;
  text-transform: uppercase;
  font: 500 1.2rem/1.2rem $font-family-base;
}

.press-preview-content {
  position: absolute;
  padding: 2.4rem 3rem;
  bottom: 0;
  left: 0;
  z-index: 3;
  color:#FFF;
  text-align: left;
}


.press-previews-item-100 .press-preview-date {
  font: 500 1.7rem/2.8rem $font-family-base;
  text-transform: uppercase;
}

.press-previews-item-100 .press-preview-desc {
  font:700 2.5rem/2.8rem $font-family-base;
  max-width: 72rem;
  &:nth-child(n+2) {
    margin-top: .6rem;
  }
}


.press-preview-date {
  font: 500 1.5rem/2rem $font-family-base;
  text-transform: uppercase;
  color: #FFF;
}
.press-preview-desc {
  font:700 2.2rem/2.4rem $font-family-base;
  color: #FFF;
  &:nth-child(n+2) {
    margin-top: 1rem;
  }
}

.press-preview {
  .press-tag {
    position: absolute;
    top: 2.4rem;
    left: 3rem;
    z-index: 3;
  }
}


.press-side {
  flex: 0 0 auto;
  width: 40rem;
  margin-left: 8.2rem;
  border-top:.1rem solid rgba(0,0,0,.15);
  border-bottom:.1rem solid rgba(0,0,0,.15);
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
}

.press-side-block {
  width: 100%;
}

.press-side-block-head-wrap {
  overflow: hidden;
}
.press-side-block-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: -.5rem -1.5rem;
}

.press-side-block-head-item {
  padding:.5rem 1.5rem;
  max-width: 100%;
  flex: 0 0 auto;
  font:500 1.5rem / 2.8rem $font-family-base;
   color: $color-text-dark;
  opacity: .25;
  text-transform: uppercase;
}

.press-side-block-title {
  font:700 2.2rem/2.6rem  $font-family-base;
  &:nth-child(n+2) {margin-top: 2rem;}
}

.press-side-item:nth-child(n+2) {
  margin-top: 5rem;
}


.news-block {
  padding-top: 4rem;
}

.news-wrap {
  padding: 7rem 8rem;
  background: #F3F5F8;

}
.news-wrap-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}


.news-side {
  width: 36.5rem;
  flex: 0 0 auto;
}

.news-head-title-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 2rem;
}

.news-head-title {
  flex: 1 1 auto;
  font:700 1.5rem/1.8rem $font-family-base;
  text-transform: uppercase;
}

.news-head-control {
  flex: 0 0 auto;
}

.slider-control-simple-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 0 auto;
}

.slider-control-simple {
  flex: 0 0 auto;
  display: block;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  position: relative;
  background: transparent;
  border-radius: 50%;

  & svg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    & * {
      stroke: $color-text-dark;
      fill: transparent;
      transition: all .3s ease;
    }
  }
}

.slider-control-simple.prev {
  margin-right: .5rem;
  & svg {
    transform: translateX(-12%);
  }
}
.slider-control-simple.next {
  margin-left: .5rem;
  & svg {
    transform: translateX(12%);
  }
}


.news-column {width: 100%;}
.news-column-item {
  width: 100%;
  &:nth-child(n+2) {
    margin-top: 4rem;
  }
}

.news-tile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.news-tile-cover {
  width: 8.6rem;
  flex: 0 0 auto;

}

.news-tile-img {
  width: 100%;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    position: relative;
    width: 0;
    padding-top: 100%;
    box-sizing: border-box;
  }
  & img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    position: absolute;
  }
}

.news-tile-content {
  flex: 1 1 auto;
  padding-left: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.news-tile-title {
  font:500 1.7rem/2.1rem $font-family-base;
  width: 100%;
  flex: 1 1 auto;
}

.news-tile-status {
  color: $color-text-dark;
  opacity: .4;
  font:1.2rem/1.2rem $font-family-base;
  text-transform: uppercase;
  flex: 0 0 auto;
  &:nth-child(n+2) {
    margin-top: .8rem;
  }
}

.news-side-divider {
  width: 100%;
  background: #000;
  height: .1rem;
  display: block;
  margin-bottom: 3.3rem;
}


.news-main {
  flex: 1 1 auto;
  margin-left: 5.6rem;
}


.news-main-section {
  width: 100%;
}

.news-main-section-cover {
  width: 100%;
  position: relative;
  overflow: hidden;

  & img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    padding-top: 40.4%;
    box-sizing: border-box;
  }
}

.news-main-section-footer {
  background: #BE3D3D;
  color:#FFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 4rem 5.5rem;
}

.news-main-section-date {
  flex: 0 0 auto;
  width: 17rem;
}

.news-main-section-date-top {
  font:700 4.9rem/4.9rem $font-family-base;
}
.news-main-section-date-sub {
  font: 500 2.2rem/3.8rem $font-family-base;
}

.news-main-section-title {
  font:700 2.5rem/3rem $font-family-base;
}

.news-main-section-desc {
  font:400 1.5rem/4.8rem $font-family-base;
  margin-top: 1.7rem;
  opacity: .5;
  text-transform: uppercase;

}

.news-main-slide-arrow-icon {
  width: 4.4rem;
  height: 4.4rem;
  display: block;
  position: relative;
  flex:0 0 auto;
  margin-left: 2rem;

  svg {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    & * {
      fill: transparent;
      stroke: #FFF;
    }
  }

}

.news-wrap-btn-outer {
  margin-top: 4.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}


.trust-block {
  padding-top: 13.8rem;
  margin-bottom: 6.6rem;
}

.trust-head {
  margin-bottom: 6.6rem;
}


.trust-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}


.trust-unit {
  width: 100%;
  display: block;
}
.trust-unit-cover {
  position: relative;
  width: 100%;
  display: block;
  flex:0 0 auto;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
  }
  &:before {
    content: "";
    display: block;
    width: 0;
    box-sizing: border-box;
    padding-top: 96.5%;
  }
}

.trust-unit-name {
  position: absolute;
  top: 2.8rem;
  left: 2.8rem;
  color:#FFF;
  text-transform: uppercase;
  font:700 1.7rem/2rem $font-family-base;
  z-index: 2;
}


.trust-unit-content {
  width: 100%;
  flex: 1 1 auto;
  padding: 2.2rem 6rem 2.2rem 2.2rem;
  background: #F3F5F8;
}

.trust-unit-content {
  text-align: left;
  font:700 1.2rem/1.6rem $font-family-base;
  color: $color-text-dark;
  width: 100%;
  flex: 1 1 auto;
  position: relative;

  & i {
    font-style:normal;
    color:#A6A6A6;
    font-weight: 400;
  }

}

.trust-icon  {
  position: absolute;
  top: 2.6rem;
  right: 2.3rem;
  width: 18px;
  height: 18px;

  & svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    z-index: 10;

    & * {
      fill: transparent;
      stroke: #2A2626;
    }
  }

}

.trust-slider {
  width: 100%;}

.trust-slider .slick-list {
  margin-left: -0.7rem;
  width: calc(100% + 0.7rem);
  overflow: visible;
}
.trust-slider .slick-slide  {
  padding-left: .7rem;
  padding-right: .7rem;
}

.slick-slider-flex {
  & .slick-track,
  & .slick-slide,
  & .slick-slide > div {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: auto !important;
  }
}

.trust-slide {
  display: flex !important;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.trust-unit {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}


.trust-slider {
  .slick-slide {
    transition: opacity .3s ease 0s,  visibility .3s ease 0s, transform .3s linear 0s;
    opacity: 0;
    visibility: hidden;
    transform: scale(.8, .8) ;
  }
  .slick-slide.slick-active, .slick-slide.slick-active ~ .slick-slide {
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1)
  }
}


.footer-block {
  margin-top: 12.6rem;
}

.footer {
  background: #F3F5F8;;
  padding: 5.2rem;
}

.footer-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex: 1  1 auto;
}

.footer-nav-item {
  width: 33.33%;
  padding-left: 5rem;
  flex: 0 0 auto;
  margin-left: -5rem;
}

.footer-nav-title {
  font:700 1.7rem/1.2 $font-family-base;
  text-transform: uppercase;
  min-height: 4.2rem;
}

.footer-nav-list {
  width: 100%;
  & > li {
    font:400 1.5rem/1.2 $font-family-base;
  }
  & > li:nth-child(n+2) {
    margin-top: 2rem;
  }
}

.footer-contacts {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-contacts-item {
  flex: 0 0 auto;
  width: 48%;
  padding-left: 2rem;
  margin-left: -2rem;

  &:nth-child(n+3) {
    margin-top: 3rem;
  }




}

.footer-contacts-title {
  font:500 1rem/1.2 $font-family-base;
  color: $color-text-dark;
  opacity: .45;
  text-transform: uppercase;
}

.cnt-body:nth-child(n+2) {
  margin-top: 1rem;
}

.cnt-text {
  font: 700 1.7rem/1.2 $font-family-base;
}
.cnt-text:nth-child(n+2) {
  margin-top: 1rem;
}

.social-group  {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
.social-group-item {
  flex: 0 0 auto;
  padding: .3rem;
}

.social-group-item {
  .soc-unit {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.dark-social-group .social-group-item .soc-unit {
  svg * {
    fill: $color-text-dark;
  }
}


.cellar {
  border-top:.1rem solid rgba(0, 0, 0, 0.06);
  &:nth-child(n+2) {
    margin-top: 5rem;
  }

  padding-top: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cellar-left-side {
  flex: 0 0 auto;
}

.cellar-links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.cellar-links-item {
  padding: .5rem;
  font:400 1.2rem/1.2 $font-family-base;
  & a {
    color: rgba(33,30,30, .45);
    transition: all .15s linear;
  }
  & a:hover {
    color: rgba(33,30,30, 1);
  }
}




.cellar-link-partner {
  transition: all .2s linear;
  font:400 1.2rem/1.2 $font-family-base;
  color: rgba(33,30,30, .45);
  padding-bottom: .3rem;
  border-bottom: .1rem solid rgba(33,30,30, .45);
  &:hover {
    color: rgba(33,30,30, 1);
    border-bottom-color: rgba(33,30,30, 1);
  }
}

.cellar-dev-company {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 7.2rem;
}

.cellar-dev-company-label {
  flex: 0 0 auto;
  margin-right: .7rem;
  color: rgba(33,30,30, .45);
}
.cellar-dev-company-logo {
  flex: 0 0 auto;
  display: table;
  & img {
    display: block;
    margin: 0;
    width: auto;
    height: auto;
  }
}

.cellar-right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
}


.page-modal-outer {
  background: #FFF;
  //height: 100%;
  width: 100%;
  //position: absolute;
  //overflow: auto;
  top: 0;
  left: 0;
  z-index: 200;
  height: 960px;

  position: relative;

}

.page-modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;

  .fx-0 {
    width: 100%;
    flex: 0 0 auto;
  }
  .fx-1 {
    width: 100%;
    flex: 1 1 auto;
  }
}

.page-modal-header {
  padding: 2.3rem 0 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.page-modal-header-logo {
  flex:0 0 auto;
  width: 10.6rem;
  margin-right: 9.4rem;
  & img,
  & svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.page-modal-header-search {
  flex: 1 1 auto;
}

.search-panel {
  width: 100%;
  display: block;
  position: relative;
}

.search-input {
  display: block;
  width: 100%;
  height: 4.6rem;
  background: #FFF;
  font: 400 1.5rem/4.5rem $font-family-base;
  color: #000;
  border-bottom:.1rem solid rgba(0, 0, 0, .15);
}

.search-panel .btn-search {
  background: transparent;
  border:none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 4.5rem;
  height: 100%;

  & img,
  & svg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  & svg * {
    stroke: $color-text-dark;
  }
  &:hover svg * {
    stroke: $color-active;
  }
}

.unit-control-icon {
  cursor: pointer;
  border-radius: 50%;
  border: .1rem solid rgba(0, 0, 0, 0.15);
  transition: all .3s linear;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;

  & img,
  & svg {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s linear;
    position: absolute;
  }
  &:hover {
    border-color: $color-text-dark;
  }
}

.page-modal-header-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 3.2rem;
  flex: 0 0 auto;

  & > *:nth-child(n+2) {
    margin-left: 1rem;
  }
}

.main-menu-list {
  display: block;
}

.main-menu-item-head .drop-icon {
  display: none;
}

.main-menu-item-head-value {
  font: 700 2.8rem/3.6rem $font-family-base;
  color: $color-text-dark;
  text-transform: uppercase;
}
.main-menu-item-body {
  display: none;
}

.main-menu-item {
  &:nth-child(n+2) {
    margin-top: 6rem;
  }
}

.page-menu-wrap {
  padding-top: 14rem;
  padding-left: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.page-menu-wrap-item:nth-child(n+2) {
  margin-left: 5rem;

}

.alt-menu-list {
  display: block;
}
.alt-menu-item {
  font:500 2rem/2.4rem $font-family-base;
  text-transform: uppercase;
  &:nth-child(n+2) {
    margin-top:4rem;
  }
}

.menu-contacts-list-section:nth-child(n+2),
.menu-contacts-item:nth-child(n+2) {
  margin-top: 4rem;
}
.menu-contacts-link {
  font:500 2rem/1.2 $font-family-base;
  text-transform: uppercase;
}
.menu-contacts-socials-group {
  justify-content: flex-start;
}
.social-group-alt-hover {
  .soc-unit {
    background: #FFF;
  }
  .soc-unit:hover {
    background: rgba(0,0,0,.05);
  }
}

.menu-contacts-btn-box {
  width: 100%;
  margin-top: 4rem;
}
.menu-contacts-btn-item {
  &:nth-child(n+2) {
    margin-top: 1.7rem;
  }
  & .btn {display: block; width: 100%;}
}


.page-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-top: 4rem;
  padding-bottom: 4.2rem;
}


.page-modal-footer-left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-left: -3.6rem;
  & > * {
    margin-left: 3.6rem;
  }
  & > * {
    font:500 1.2rem/1.2 $font-family-base;
    color:$color-text-dark
  }
  & a {
    transition: all .15s linear;
    opacity: 1;
    &:hover {
      opacity: .85;
    }
  }

}

.page-modal-footer-right {
  display: block;
  flex: 0 0 auto;
}
.dev-company-unit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.dev-company-unit-label {
  flex: 0 0 auto;
  font:500 1.2rem/1.2 $font-family-base;
  color: $color-text-dark;
  margin-right: .7rem;
}
.dev-company-unit-logo {
  flex: 0 0 auto;
  transition: all .15s linear;
  opacity: 1;
  &:hover {
    opacity: .75;
  }
  & img,
  & svg {
    display: block;
    width: auto;
    height:auto;
  }
}


.page-search-title {
  font:500 1.2rem/1.2 $font-family-base;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.page-search-wrap {
  overflow: hidden;
  width: 100%;
  margin: -.7rem;
}

.page-search-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.page-search-item {
  width: 33.33%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: .7rem;
}

.page-search-unit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 19.2rem;
  background: #F3F5F8;
  padding: 2.4rem 3rem;
  overflow: hidden;
  position: relative;
}

.page-search-unit-anim-layer {
  display: block;
  width: 150%;
  background: $color-active;
  position: absolute;
  left: 100%;
  top: 100%;
  z-index: 0;
  &:before {
    content: "";
    display: block;
    width: 0;
    padding-top: 100%;
  }
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0, 0);
  transition: all .5s  ease-in;

  .page-search-unit:hover & {
    transform: translateX(-50%) translateY(-50%) scale(2, 2);
  }

}

.page-search-unit-link {
  display: block;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-search-unit-title {
  width: 100%;
  flex: 0 0 auto;
  display: block;
  font:500 2rem/2.4rem $font-family-base;
  &:nth-child(n+2) {
    margin-top: 3rem;
  }
  max-width: 34rem;
  position: relative;
  z-index: 2;
  color: $color-text-dark;
  transition: all .5s ease-in;

  .page-search-unit:hover & {
    color: $color-white;
  }


}

.page-search-unit-icon {
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
  & img,
  & svg {
    display: block;
    margin: 0;
  }
  filter: brightness(1) invert(0);
  transition: all .5s ease-in;

  .page-search-unit:hover & {
    filter: brightness(0) invert(1);
  }

}

.page-search-layer {
  padding-top: 3.4rem;
}

.live-search-list {
  display: block;
  margin-left: -3.2rem;
}
.live-search-item {
  width: 100%;
  font:500 1.7rem / 2.2rem $font-family-base;
  background: transparent;
  transition: all .3s linear;
  padding: 1.9rem 3.2rem;
  border-radius: 30rem;
  &:hover {
    background: #F3F5F8;
  }
}

.page-modal-pad-left {
  padding-left: 20rem;
}
.page-modal-form-pad-left {

}

.form-layout-overlay {
  background: #F8F9FB;
  border-radius: 1.5rem;
  padding: 3rem 6.5rem;
}

.form-top-subtitle {
  font:500 1rem/1.2 $font-family-base;
  color: $color-text-dark;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.form-calc-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.calc-params-group-one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: -1rem -1.3rem;
  flex-wrap: wrap;
}
.calc-params-group-one-item {
  flex: 0 0 auto;
  width: 50%;
  padding: 1rem 1.3rem;
}

.custom-select + .select2-container {
  & {
    display: block;
    width: 100% !important;
    border-radius: 30rem;
  }
  & > .selection {
    display: block;
    width: 100%;
    border-radius: 30rem;
  }
  &  .select2-selection {
    display: block;
    width: 100%;
    position: relative;
    background: #FFF;
    border:.1rem solid transparent;
    line-height: 4.6rem;
    height: 4.8rem;
    padding: 0 4rem 0 2.5rem;
    border-radius: 30rem;
  }
  &.select2-container--open .select2-selection {
    border-radius: 30rem;
  }
  & .select2-selection__rendered {
    text-align: left;
    font: 400 1.5rem/4.6rem $font-family-base;
    color: $color-text-dark;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 0;
  }
  & .select2-selection__arrow {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    right: 2.2rem;
    top:1.8rem;
    transform: scale(1, 1);
    background: url(../images/dist/icons/drop-select-icon.svg) no-repeat 50% 50% / contain;
    & b {display: none;}
  }
  &.select2-container--open .select2-selection__arrow {
    transform: scale(1, -1);

  }
}
.select2-container  {
  & .select2-search__field,
  & .select2-search {display: none !important;}
  & .select2-dropdown {
    display: block;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius:.3rem
  }
  & .select2-results__option {
    display: block;
    width: 100%;
    font:1.2rem/1.2 $font-family-base;
    color: $color-text-dark;
    padding: .8rem 1.2rem ;
  }
  & .select2-results__option--selected {
    background: #DCE5F9 !important;
    color: $color-text-dark !important;
  }
  & .select2-results__option--highlighted {
    background: #94B6FA !important;
    color: $color-white !important;
  }
}

.custom-select + .select2-container.select2-container--focus {
  .select2-selection {
    border: .1rem solid rgba(0,0,0,.15);
  }

}

.u-form-control-wrap-2 {
  margin-top: 5.2rem;
}

.calc-params-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .calc-params-box-item {
    flex: 0 0 auto;
  }
}
.calc-params-box-3 {
  margin: -.8rem;
}

.calc-params-box-3 {
 .calc-params-box-item {
   padding: .8rem;
   width: 33.33%;
 }
}

.calc-params-box-2 {
  margin: -.8rem -1.3rem;

  .calc-params-box-item {
    padding: .8rem 1.3rem ;
    width: 50%;
  }
}


.user-input-label {
  display: block;
}
.user-input {
  display: block;
  width: 100%;
  border-radius: 30rem;
}

.user-input-label {
  display: block;
}

.user-input {
  display: block;
  border-radius: 30rem;
  background: #FFF;
  border:.1rem solid transparent;
  height: 4.8rem;
  padding: 0 2.2rem;
  text-align: left;
  font:500 1.5rem/ 4.6rem $font-family-base;
  color: $color-text-dark;
}

.user-textarea {
  display: block;
  border-radius: 1.5rem;
  background: #FFF;
  border:.1rem solid transparent;
  height: 12.4rem;
  padding: 1.2rem 2.2rem;
  text-align: left;
  font:500 1.5rem/ 1.2 $font-family-base;
  color: $color-text-dark;
  overflow: auto;
  width: 100%;
}

.user-input, .user-textarea {
  &::-webkit-input-placeholder {
    color: $color-text-dark;
    opacity: 1;
    transition: all .15s linear;
  }
  &::-moz-placeholder {
    color: $color-text-dark;
    opacity: 1;
    transition: all .15s linear;
  }
  &:-ms-input-placeholder {
    color: $color-text-dark;
    opacity: 1;
    transition: all .15s linear;
  }
  &:-moz-placeholder {
    color: $color-text-dark;
    opacity: 1;
    transition: all .15s linear;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  &:focus::-moz-placeholder {
    opacity: 0;
  }
  &:focus:-ms-input-placeholder {
    opacity: 0;
  }
  &:focus:-moz-placeholder {
    opacity: 0;
  }
}

.user-input:focus, .user-textarea:focus {
  border-color: rgba(0,0,0, .15);
}

.form-modal-title {
  margin-bottom: 3rem;
}

.form-calc-person {
  width: 37.4rem;
  flex: 0 0 auto;
  margin-left: 4.8rem;

  & .form-field-item:nth-child(n+2) {
    margin-top: 2rem;
  }
}

.field-fill {
  background: #F8F9FB;
}

.user-textarea.invalid,
.user-input.invalid {
  border-color: red;
}

.user-check-unit {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  cursor: pointer;
  position: relative;
  & input {display: none;}

  & .check-unit-icon {
    width: 1.6rem;
    height: 1.6rem;
    border: .1rem solid $color-text-dark;
    position: relative;
    border-radius: .2rem;
    transition: all .2s ease;
    margin-right: 1.2rem;
    & img,
    & svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 57.5%;
      height: auto;
      transition: all .2s ease;
      opacity: 0;

    }
    & svg * {
      fill: $color-text-dark;
    }
  }
  & input:checked ~ .check-unit-icon {
    & img,
    & svg {opacity: 1;}
  }

  .check-unit-text {
    flex: 1 1 auto;
    align-self: center;
    font:500 1.5rem/1.2 $font-family-base;
    color: $color-text-dark;

    & a {
      border-bottom: .1rem solid $color-text-dark;
      transition: all .2s ease;
    }

    & a:hover {
      border-bottom: .1rem solid transparent;
    }
  }
}

.user-check-unit input.invalid,
.user-check-unit input:invalid
{
  & ~ .check-unit-icon {
    border-color:red;
  }
  & ~ .check-unit-text {
    color:red;
    & a {border-color: red;}
    & a:hover {border-color: transparent;}
  }
}

.user-check-unit.half-transparent {
  opacity: .4;
}

.form-cellar:nth-child(n+2) {
  margin-top: 8.5rem;
}
.form-cellar-item.btn-wrap:nth-child(n+2) {
  margin-top:2.8rem;
}

.btn-submit  {min-width: 17.8rem;}

.page-modal-form  {padding-top: 11.5rem;}

 .btn-modal-close-position {
  cursor: pointer;
  position: absolute;
  top: 2.3rem;
  right: 4.6rem;
  z-index: 10;
}

.form-callback-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.form-callback-cnt {
  flex: 0 0 auto;
  width: 37.4rem;
  margin-right: 4rem;
}
.form-callback-comment {
  flex: 1 1 auto;
}

.form-callback-cnt .form-field-item:nth-child(n+2) {
  margin-top: 2rem;
}

.page-modal-callback-form  .form-modal-title {
  margin-bottom: 6.2rem;
}

.success-unit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.success-unit-icon {
  flex: 0 0 auto;
  margin-right: 5rem;
  width: 7rem;
  padding-top: 1.2rem;
  & img,
  & svg {
    display: block;
    width: 100%;
    height: auto;
  }
}
.success-unit-text {
  flex: 1 1 auto;
}

.page-modal-success-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.page-modal-success-side {
  flex: 0 0 auto;
  margin-right: 10.8rem;
  width: 54rem;
}
.page-modal-success-content {
  flex: 1 1 auto;
  font:500 2.2rem/ 2.8rem $font-family-base;
  margin-left: 6rem;
}


.page-modal-success-content {
  .btn-wrap:nth-child(n+2) {
    margin-top: 5.6rem;
  }
}

.page-modal-success {padding-top: 28rem;}




















