.page {

  &__container {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding-top: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;

    margin-right: auto;
    max-width: 152.5rem;
  }

  &__sections {
    position: relative;

    padding-top: 7.5rem;
    width: 100%;

    background-color: white;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -500rem;
  
      height: 100%;
      width: 500rem;
  
      background-color: white;
      z-index: 0;
    }
  }
}