.page {

  &__container {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;

    margin-right: auto;
    max-width: 1525px;
  }

  &__sections {
    position: relative;
    padding-top: 75px;
    width: 100%;
    background-color: white;

    @media screen and (max-width: 1200px) {
      padding-top: 40px;
    }

    @media screen and (max-width: 1024px) {
      padding-top: 30px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 20px;
    }

    @media screen and (max-width: 576px) {
      padding-top: 16px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -500rem;
  
      height: 100%;
      width: 500rem;
  
      background-color: white;
      z-index: 0;
    }
  }
}
