@import '_mixins.scss';

.partners {

  margin-bottom: 12rem;

  @media screen and (max-width: 1023px) {
    margin-bottom: 10rem;
  }

  @media screen and (max-width: 599px) {
    margin-bottom: 6rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.9rem;

    margin: 0;
    padding: 0;

    list-style: none;

    @media screen and (max-width: 1279px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 899px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 3.1rem;
    border: solid 1px rgba(0, 0, 0, 0.1);

    &:hover .partners__card-icon{
      opacity: 1;
      fill: #BE3D3D;
    }

    @include setDefoultHoverEffect(0.8);
  }

  &__card-logo-container {
    height: 4.2rem;
    margin-bottom: 17.5rem;

    @media screen and (max-width: 899px) {
      margin-bottom: 7.5rem;
    }

    @media screen and (max-width: 599px) {
      margin-bottom: 4rem;
    }
  }

  &__card-logo {
    display: block;
    max-height: 100%;

    object-fit: contain;
    object-position: top left;
  }

  &__container {
    display: grid;
    grid-template-columns: auto 3rem;
    column-gap: 5rem;

    @media screen and (max-width: 599px) {
      column-gap: 2rem;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
  }

  &__card-title {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;

    margin-bottom: 2.6rem;

    @media screen and (max-width: 599px) {
      font-size: 2rem;
      margin-bottom: 1.6rem;
    }
  }

  &__card-description {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 400;

    @media screen and (max-width: 599px) {
      font-size: 1.4rem;
    }
  }

  &__card-icon {
    display: block;
    align-self: flex-end;

    width: 3rem;
    height: 3rem;

    fill: white;
    stroke: black;
    opacity: 0.3;
    transition: opacity 0.3s, fill 0.3s ease;
  }
}