.requisites {
  --unit-title-fs: 2rem;
  --unit-desc-fs: 1.7rem;

  $bg-color: white;

  z-index: 1;
  position: relative;

  display: flex;
  justify-content: space-between;

  padding-bottom: 18rem;

  background-color: $bg-color;

  @media screen and (max-width: 1023px) {
    --unit-title-fs: 1.8rem;
    --unit-desc-fs: 1.4rem;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -500rem;

    height: 100%;
    width: 500rem;

    background-color: $bg-color;
    z-index: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &_place {

      &_req {
        max-width: 54rem;
        margin-right: 4rem;

        @media screen and (max-width: 767px) {
          max-width: 100%;
          margin-right: 0;
          margin-bottom: 4rem;
        }
      }

      &_contacts {
        width: 46rem;

        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }

  &__unit {
    display: flex;
    flex-direction: column;
    margin-bottom: 5.9rem;

    @media screen and (max-width: 767px) {
      margin-bottom: 3rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__unit-title {
    margin-bottom: 1.5rem;

    font-size: var(--unit-title-fs);
    line-height: 1.1;
    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-weight: 700;
  }

  &__unit-desc {
    font-size: var(--unit-desc-fs);
    line-height: 1.2;
    font-family: "Intro", sans-serif;
    font-weight: 400;

    margin-bottom: 1.4rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__accent {
    font-weight: 700;
  }
}