.section {
  z-index: 1;
  position: relative;

  box-sizing: border-box;
  padding-right: 178px;

  font-family: "Intro", sans-serif;

  @media screen and (max-width: 1365px) {
    padding-right: 75px;
  }

  @media screen and (max-width: 1023px) {
    // padding-top: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 767px) {
    padding-right: 0;
    // padding-bottom: 90px;
  }

  &_size {

    &_narrow {
      padding-right: 85px;

      @media screen and (max-width: 1023px) {
        // padding-top: 40px;
        padding-right: 45px;
      }
    
      @media screen and (max-width: 767px) {
        padding-right: 20px;
        // padding-bottom: 90px;
      }

      @media screen and (max-width: 479px) {
        padding-right: 0;
        // padding-bottom: 90px;
      }
    }
  }

  &__paragraph {
    box-sizing: border-box;

    font-size: 25px;
    line-height: 1.4;
    font-weight: 400;
    color: #333333;

    @media screen and (max-width: 1279px) {
      font-size: 20px;
      line-height: 1.2;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
      padding-right: 20px;
    }
  }

  &__title-block {
    position: relative;
    margin-bottom: 53px;
  }

  &__title {
    color: black;
    max-width: 740px;
  }

  &__title-back-link {
    position: absolute;
    left: -198px;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 90px;
    width: 77px;
    height: 41px;

    transition: background-color 0.3s ease;

    @media screen and (max-width: 1599px) {
      left: -154px;
    }

    @media screen and (max-width: 1365px) {
      left: -100px;
    }

    @media screen and (max-width: 1279px) {
      display: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__title-icon {
    width: 21px;
    height: 14px;

    stroke: black;
    fill: none;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 640px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  &__block-title {
    position: relative;

    margin-bottom: 63px;

    font-size: 42px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -200px;

      width: 136px;
      height: 1px;
      background-color: #333333;

      opacity: 0.2;
      z-index: 2;
    }
  }
}