.section {
  z-index: 1;
  position: relative;

  box-sizing: border-box;
  padding-right: 17.8rem;

  font-family: "Intro", sans-serif;

  @media screen and (max-width: 1365px) {
    padding-right: 7.5rem;
  }

  @media screen and (max-width: 1023px) {
    // padding-top: 40px;
    padding-right: 4rem;
  }

  @media screen and (max-width: 767px) {
    padding-right: 0;
    // padding-bottom: 90px;
  }

  &_size {

    &_narrow {
      padding-right: 8.5rem;

      @media screen and (max-width: 1023px) {
        // padding-top: 40px;
        padding-right: 4.5rem;
      }
    
      @media screen and (max-width: 767px) {
        padding-right: 2rem;
        // padding-bottom: 90px;
      }

      @media screen and (max-width: 479px) {
        padding-right: 0;
        // padding-bottom: 90px;
      }
    }
  }

  &__paragraph {
    box-sizing: border-box;

    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 400;
    color: #333333;

    @media screen and (max-width: 1279px) {
      font-size: 2rem;
      line-height: 1.2;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.8rem;
      padding-right: 2rem;
    }
  }

  &__title-block {
    position: relative;

    margin-bottom: 53px;

    @media screen and (max-width: 1200px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 10px;
    }

    &_theme {

      &_light {
        color: white;
      }
    }

    &_fixed {
      box-sizing: border-box;
      padding-top: 20rem;
      max-width: 120rem;
      margin: 0 auto;

    }
  }

  &__title {
    color: black;
    max-width: 74rem;
  }

  &__title-back-link {
    position: absolute;
    left: -19.8rem;
    top: 0.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 9rem;
    width: 7.7rem;
    height: 4.1rem;

    transition: background-color 0.3s ease;

    @media screen and (max-width: 1599px) {
      left: -15.4rem;
    }

    @media screen and (max-width: 1365px) {
      left: -10rem;
    }

    @media screen and (max-width: 1279px) {
      display: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__title-icon {
    width: 2.1rem;
    height: 1.4rem;

    stroke: black;
    fill: none;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 64rem;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  &__block-title {
    position: relative;

    margin-bottom: 6.3rem;

    font-size: 4.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -20rem;

      width: 13.6rem;
      height: 1px;
      background-color: #333333;

      opacity: 0.2;
      z-index: 2;
    }
  }


  &__back-link {
    position: absolute;
    bottom: 10px;
    left: -19.8rem;
  }

  &__main-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
  }
}

