.slider-section {

  margin-bottom: 15.2rem;

  overflow-x: hidden;

  &__title-container {
    display: flex;
    justify-content: space-between;
    
    padding-left: 20rem;
  }

  &__wrapper {
    padding-left: 20rem;
    padding-right: 8.5rem;
  }
}