.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 13.3rem;

  max-width: 110rem;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;

    margin-bottom: 5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__item-title {
    margin-bottom: 0.8rem;

    font-size: 1.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Intro", sans-serif;
    font-weight: 700;
    opacity: 0.4;
  }

  &__item-desc {
    font-size: 2rem;
    line-height: 1.2;
    font-family: "Intro", sans-serif;
    font-weight: 700;
  }
}