.article {
  display: grid;
  grid-template-columns: 35.2rem auto 8.6rem;

  box-sizing: border-box;
  padding: 3.2rem 1.8rem 2.8rem 0;

  border-bottom: solid 2px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1279px) {
    grid-template-columns: 35.2rem auto 6.5rem;
  }

  @media screen and (max-width: 1023px) {
    padding: 2.2rem 1.4rem 2rem 0;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 24rem auto 6.5rem;
  }

  @media screen and (max-width: 679px) {
    grid-template-columns: auto 6.5rem;
  }

  @media screen and (max-width: 479px) {
    grid-template-columns: auto 3rem;
  }
  
  &__image-container {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 66%;

    overflow: hidden;

    @media screen and (max-width: 679px) {
      display: none;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__text {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding-left: 4.8rem;
    padding-right: 10rem;

    @media screen and (max-width: 1279px) {
      padding-left: 2.4rem;
      padding-right: 5rem;
    }

    @media screen and (max-width: 679px) {
      padding-left: 0;
      padding-right: 3rem;
    }
  }

  &__time {
    margin-bottom: 4rem;

    font-size: 1.5rem;
    line-height: 1.4;
    color: black;
    opacity: 0.25;

    @media screen and (max-width: 1023px) {
      margin-bottom: 2.4rem;
      font-size: 1.2rem;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    font-size: 2rem;
    line-height: 1.1;
    font-weight: 700;

    @media screen and (max-width: 1023px) {
      margin-bottom: 1.4rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }

  &__description {
    font-size: 1.7rem;
    line-height: 1.2;

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }

  &__link {
    display: block;

    align-self: flex-end;

    margin-bottom: 3rem;

    &:hover .article__link-icon {
      fill: #BE3D3D;
      stroke: rgba(0, 0, 0, 1);
    }

    &:focus .article__link-icon {
      fill: #BE3D3D;
      stroke: rgba(0, 0, 0, 1);
    }

    &:focus {
      outline: none;
    }
  }

  &__link-icon {
    width: 8.6rem;
    height: 8.6rem;

    fill: white;
    stroke: rgba(0, 0, 0, 0.25);

    transition: fill 0.3s, stroke 0.3s ease;

    @media screen and (max-width: 1279px) {
      width: 6.5rem;
      height: 6.5rem;
    }

    @media screen and (max-width: 479px) {
      width: 3rem;
      height: 3rem;
    }
  }
}